@import "tailwindcss";
@config "../tailwind.config.ts";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: #2c2520;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "halt";
}

*[data-instructor] {
  background-image: url(/images/instructor/instructor-placeholder.png);
  @apply bg-cover;
}

*[data-instructor="今井まなみ"] {
  background-image: url(/images/instructor/instructor-manami.jpg);
  @apply bg-cover;
}

*[data-instructor="中村篤史"] {
  background-image: url(/images/instructor/instructor-nakamura.jpg);
  @apply bg-cover;
}

.slideIn {
  animation: slideIn 1s ease both;
  animation-timeline: view(block);
  animation-range: contain 0% contain 35%;
}

.slideDown {
  animation: slideDown 1s ease both;
  animation-timeline: view(block 80% 5%);
}

@keyframes slideIn {
  0% {
    transform: translateY(36px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-24px);
  }
}

.bounceMicro {
  animation: bounceMicro 1s infinite;
}

@keyframes bounceMicro {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
